.wrapper {
  padding: 1rem;
  margin: 5rem;
}

#title {
  margin-bottom: 4rem;
}

#title {
  font-size: 1cm;
  font-style: italic;
  color: purple;
}

#class {
  font-style: italic;
  color: purple;
}

li {
  font-style: unset;
  color: purple;
}

div {
  background-color: #29cdb5;
  border-radius: 2mm;
  width: 7cm;
}

#paragraph {
  color: purple;
  font-size: 5mm;
  font-style: normals;
}
